In [1]:
import pandas as pd

In [162]:
texture=pd.read_csv('../../raster_processing/data/raw/optimization/texture_and_runoff/texture_and_runoff.csv')
texture['texture']=texture.texture.str.replace('! ', '!')

In [163]:
texture.head()

   Unnamed: 0  Filed_Id   sand   clay   silt    texture runoff
0           0   6099219  25.50  32.60  41.90  Clay Loam  HSG-C
1           1   6099220  25.90  32.85  41.25  Clay Loam  HSG-C
2           2   6099221  25.17  32.97  41.86  Clay Loam  HSG-C
3           3   6099222  26.18  33.93  39.89  Clay Loam  HSG-C
4           4   6099223  24.80  37.40  37.80  Clay Loam  HSG-C

In [138]:
tex=texture.texture.values
runoff=texture.runoff.values

In [139]:
def find_space(row):
    if row ==' Loam':
        return 'Loam'
    elif row == ' Silty Clay':
        return 'Silty Clay'
    elif row ==' Silty Clay Loam':
        return 'Silty Clay Loam'
    else:
        return row

In [121]:
texture['texture']= texture['texture'].apply(lambda x: find_space(x))

In [140]:
tex=texture.texture.values
runoff=texture.runoff.values
list_text=list(set(tex))

In [197]:
set(runoff)

{'0', 'HSG-B', 'HSG-C', 'HSG-D'}

In [141]:
all_text=[]
for t in list_text:
    temp=t.split('!')
    for i in temp:
        all_text.append(i)
    #print(temp)

In [142]:
sorted(set(all_text))

['0',
 'Clay',
 'Clay Loam',
 'Loam',
 'Loamy Sand',
 'Sandy Clay Loam',
 'Sandy Loam',
 'Silt Loam',
 'Silty Clay',
 'Silty Clay Loam']

In [166]:
dict_text={'0':0,
 'Clay':1,
 'Clay Loam':2,
 'Loam':3,
 'Loamy Sand':4,
 'Sandy Clay Loam':5,
 'Sandy Loam':6,
 'Silt Loam':7,
 'Silty Clay':8,
 'Silty Clay Loam':9}

In [167]:
dict_text['Silty Clay Loam']

9

In [16]:
len(set(runoff))

4

In [164]:
bb=texture[0:10]

In [148]:
set(bb.texture.values)

{'Clay Loam', 'Loam'}

In [145]:
bb.set_value('sand', '25.50', 10)

AttributeError: 'DataFrame' object has no attribute 'set_value'

In [146]:
bb.ix?

Object `bb.ix` not found.

In [149]:
bb['texture'] = bb['texture'].replace(['Clay Loam', 'Loam'],['1','1-2'])

C:\Users\akif\.conda\envs\geo\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [211]:
bb

   Unnamed: 0  Filed_Id   sand   clay   silt    texture runoff
0           0   6099219  25.50  32.60  41.90  Clay Loam  HSG-C
1           1   6099220  25.90  32.85  41.25  Clay Loam  HSG-C
2           2   6099221  25.17  32.97  41.86  Clay Loam  HSG-C
3           3   6099222  26.18  33.93  39.89  Clay Loam  HSG-C
4           4   6099223  24.80  37.40  37.80  Clay Loam  HSG-C
5           5   6099224  37.36  23.24  39.40       Loam  HSG-C
6           6   6099225  36.92  23.68  39.40       Loam  HSG-C
7           7   6099226  40.10  24.10  35.80       Loam  HSG-C
8           8   6099227  38.40  18.20  43.40       Loam      0
9           9   6099228  38.93  18.24  42.83       Loam      0

In [152]:
bb[bb['texture'].str.contains('1')]

   Unnamed: 0  Filed_Id   sand   clay   silt texture runoff
0           0   6099219  25.50  32.60  41.90       1  HSG-C
1           1   6099220  25.90  32.85  41.25       1  HSG-C
2           2   6099221  25.17  32.97  41.86       1  HSG-C
3           3   6099222  26.18  33.93  39.89       1  HSG-C
4           4   6099223  24.80  37.40  37.80       1  HSG-C
5           5   6099224  37.36  23.24  39.40     1-2  HSG-C
6           6   6099225  36.92  23.68  39.40     1-2  HSG-C
7           7   6099226  40.10  24.10  35.80     1-2  HSG-C
8           8   6099227  38.40  18.20  43.40     1-2      0
9           9   6099228  38.93  18.24  42.83     1-2      0

In [174]:
bb.texture.apply(lambda row : find_text(row))

0    2
1    2
2    2
3    2
4    2
5    3
6    3
7    3
8    3
9    3
Name: texture, dtype: object

In [184]:
def find_text(row):
    texture_list=row.split('!')
    if len(texture_list)>1:
        r_obje=f'{dict_text[texture_list[0]]}'
        for t in texture_list[1:]:           
            r_obje=r_obje+f'-{dict_text[t]}'
        return r_obje
    else:
        return str(dict_text[row])

In [175]:
dict_text

{'0': 0,
 'Clay': 1,
 'Clay Loam': 2,
 'Loam': 3,
 'Loamy Sand': 4,
 'Sandy Clay Loam': 5,
 'Sandy Loam': 6,
 'Silt Loam': 7,
 'Silty Clay': 8,
 'Silty Clay Loam': 9}

In [171]:
list('Silty Clay Loam'.split('!'))

['Silty Clay Loam']

In [183]:
cc=texture.copy()

In [154]:
cc['texture'] = cc['texture'].replace(['Clay Loam', 'Loam'],['1','1-2'])

In [185]:
cc.texture=cc.texture.apply(lambda row : find_text(row))

In [186]:
texcc=cc.texture.values
runoffcc=cc.runoff.values
list_textcc=list(set(texcc))

In [187]:
list_textcc

['3',
 '1',
 '6',
 '8-9',
 '2-5',
 '2-3-5',
 '4',
 '2-9',
 '5-3',
 '9',
 '5',
 '7',
 '1-2',
 '0',
 '3-6',
 '1-8-9-2',
 '7-3',
 '8',
 '5-6',
 '1-8',
 '2-3',
 '2']

In [191]:
len(cc.texture)

6103080

In [193]:
len(cc[cc['texture']=='5'])

3157

In [194]:
len(texture[texture['texture']=='Sandy Clay Loam'])

3157

In [195]:
cc.head()

   Unnamed: 0  Filed_Id   sand   clay   silt texture runoff
0           0   6099219  25.50  32.60  41.90       2  HSG-C
1           1   6099220  25.90  32.85  41.25       2  HSG-C
2           2   6099221  25.17  32.97  41.86       2  HSG-C
3           3   6099222  26.18  33.93  39.89       2  HSG-C
4           4   6099223  24.80  37.40  37.80       2  HSG-C

In [202]:
cc=cc.drop(['Unnamed: 0','sand','clay','silt'],axis=1)

In [203]:
cc.head()

   Filed_Id texture runoff
0   6099219       2  HSG-C
1   6099220       2  HSG-C
2   6099221       2  HSG-C
3   6099222       2  HSG-C
4   6099223       2  HSG-C

In [204]:
ee=texture.copy()

In [205]:
ee=ee.drop(['Unnamed: 0','sand','clay','silt','texture','runoff'],axis=1)
ee.head(2)

   Filed_Id
0   6099219
1   6099220

In [207]:
merge_df=cc.merge(ee, on="Filed_Id", how = 'inner')

In [213]:
merge_df.head()

   Filed_Id texture runoff
0   6099219       2  HSG-C
1   6099220       2  HSG-C
2   6099221       2  HSG-C
3   6099222       2  HSG-C
4   6099223       2  HSG-C

In [215]:
cc.to_csv('../data/raw/optimization/texture_and_runoff/texture_and_runoff_V2.csv',index=False)

In [212]:
cc.merge(bb, on="Filed_Id", how = 'inner')

,Filed_Id,texture_x,runoff_x,Unnamed: 0,sand,clay,silt,texture_y,runoff_y
0,6099219,2,HSG-C,0,25.50,32.60,41.90,Clay Loam,HSG-C
1,6099220,2,HSG-C,1,25.90,32.85,41.25,Clay Loam,HSG-C
2,6099221,2,HSG-C,2,25.17,32.97,41.86,Clay Loam,HSG-C
3,6099222,2,HSG-C,3,26.18,33.93,39.89,Clay Loam,HSG-C
4,6099223,2,HSG-C,4,24.80,37.40,37.80,Clay Loam,HSG-C
5,6099224,3,HSG-C,5,37.36,23.24,39.40,Loam,HSG-C
6,6099225,3,HSG-C,6,36.92,23.68,39.40,Loam,HSG-C
7,6099226,3,HSG-C,7,40.10,24.10,35.80,Loam,HSG-C
8,6099227,3,0,8,38.40,18.20,43.40,Loam,0
9,6099228,3,0,9,38.93,18.24,42.83,Loam,0

In [216]:
textV2=pd.read_csv('../data/raw/optimization/texture_and_runoff/texture_and_runoff_V2.csv')

In [217]:
textV2.head()

   Filed_Id texture runoff
0   6099219       2  HSG-C
1   6099220       2  HSG-C
2   6099221       2  HSG-C
3   6099222       2  HSG-C
4   6099223       2  HSG-C

In [221]:
set(cc.texture.values)

{'0',
 '1',
 '1-2',
 '1-8',
 '1-8-9-2',
 '2',
 '2-3',
 '2-3-5',
 '2-5',
 '2-9',
 '3',
 '3-6',
 '4',
 '5',
 '5-3',
 '5-6',
 '6',
 '7',
 '7-3',
 '8',
 '8-9',
 '9'}